<html>
<head></head>
<body>
	<div>
		<form method="POST" action="/message">
			<div>Auteur : <input name="auteur" type=text /></div>
			<div>Contenu : <input name="message" type=text /></div>
			<div><input type="submit" /></div>
		</form>
	</div>
</body>
</html>
