body{
	font-family: arial;
	font-size: 4em;
	margin: 0px;
	padding: 0px;
}

.hole{
	background-color: lightgrey;
	display: inline-block;
	vertical-align: top;
	width: 70px;
	height: 70px;
	margin: 1px;
}

#board{
	margin: auto;
}

aside{
	vertical-align: top;
	display: inline-block;
	width: 30%;
}
aside>div{
	margin: 20px;
}

main{
	vertical-align: top;
	display: inline-block;
	width: 69%;
}